

/*  Spacing Base
---------------------------------- */
$spacing-xxs: em(10);
$spacing-xs:  em(15);
$spacing-s:   em(30);
$spacing-m:   em(60);
$spacing-l:   em(90);
$spacing-xl:  em(120);
$spacing-xxl: em(190);

/* ----------------------------------
    Break Point Settings
---------------------------------- */

$site-width-min: em(320);
$site-width-max: em(1400);
$site-width-d: 90%;
$site-width-t: 90%;
$site-width-m: 93.75%;

/* 	Breakpoints
---------------------------------- */

$bp-xs:     em(375);
$bp-xs-up:  em(376);
$bp-s:      em(544);
$bp-s-up:   em(545);
$bp-m:      em(750);
$bp-m-up:   em(751);
$bp-l:      em(991);
$bp-l-up:   em(992);
$bp-xl:     em(1100);
$bp-xl-up:  em(1101);
$bp-max:    $site-width-max;
$bp-max-up: em(1401);
$bp-full:   em(1556);
$bp-full-up:em(1557); // This is the size all widths can't grow anymore.

/*  Media Queries
---------------------------------- */

$vp-xs-down:  max-width $bp-xs;
$vp-xs-to-s:  min-width $bp-xs-up max-width $bp-s;
$vp-xs-to-m:  min-width $bp-xs-up max-width $bp-m;
$vp-xs-up:    min-width $bp-xs-up;

$vp-s-down:   max-width $bp-s;
$vp-s-to-m:   min-width $bp-s-up max-width $bp-m;
$vp-s-to-l:   min-width $bp-s-up max-width $bp-l;
$vp-s-to-xl:  min-width $bp-s-up max-width $bp-xl;
$vp-s-up:     min-width $bp-s-up;

$vp-m-down:   max-width $bp-m;
$vp-m-to-l:   min-width $bp-m-up max-width $bp-l;
$vp-m-to-xl:  min-width $bp-m-up max-width $bp-xl;
$vp-m-to-max: min-width $bp-m-up max-width $bp-max;
$vp-m-to-full:min-width $bp-m-up max-width $bp-full;
$vp-m-up:     min-width $bp-m-up;

$vp-l-down:   max-width $bp-l;
$vp-l-to-xl:  min-width $bp-l-up max-width $bp-xl;
$vp-l-to-max: min-width $bp-l-up max-width $bp-max;
$vp-l-up:     min-width $bp-l-up;

$vp-xl-down:  max-width $bp-xl;
$vp-xl-to-max: min-width $bp-xl-up max-width $bp-max;
$vp-xl-to-full: min-width $bp-xl-up max-width $bp-full;
$vp-xl-up:    min-width $bp-xl-up;

$vp-max-to-full: min-width $bp-max-up max-width $bp-full;
$vp-max-up:      min-width $bp-max-up;

$vp-full-up:     min-width $bp-full-up;

/* ----------------------------------
    Color Pallet
---------------------------------- */
$primary-color: #6141ff;
$accent-color: #ffb041;
$third-color: #dfff41;
$ribbon-light: #ba89b6;
$ribbon-dark: #986794;
$ribbon-border: #804f7c;