@import 'node_modules/react-modal-video/scss/modal-video.scss';

.App {
  // background-image: url('../assets/alexLogo.png');
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(13, 8vw);
  grid-template-rows: repeat(13, 8vh);
  .App-header {
    background-color: #ffb041;
    min-height: 10vh;
    display: inline-block;
    font-size: calc(10px + 2vmin);
    color: white;
    grid-column: 1 / 14;
    grid-row: 1 / 2;
    .logo {
      max-height: 10vh;
      margin-left: 45%;
    }
  }
  .myName {
    grid-column: 1 / 14;
    grid-row: 3 / 5;
    text-align: center;
  }

  .carousel {
    z-index: 5;
    grid-column: 7 / 12;
    grid-row: 11 / 13;
    margin: auto 0;
    .projectBlocks {
      border-radius: 25px;
      background-color: #dfff41;
      box-shadow: 3px 3px 10px #282c34;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      margin: 3%;
      .title {
        text-align: center;
      }
      .projectImage {
        margin: 0 auto;
      }
      .links {
        margin-top: 2%;
        display: flex;
        justify-content: space-around; 
        .github {
          border-radius: 50%;
          &:hover {
            box-shadow:-0 0 10px red;
          }
        }
        button {
          background: none;
          border: none; 
          cursor: pointer;
          border-radius: 50%;
          outline: none;
          .playButton {
            width: 90%;
            border-radius: 50%;
            &:hover {
              box-shadow:-0 0 10px red;
            }
          }
        }
      }
    }
  }

  .carouselBar {
    margin-top: 2%;
    z-index: 1;
    height: 6vh;
    grid-column: 2 / 13;
    grid-row: 11 / 13;
    background: #6141ff;
    text-align: left;
    padding-left: 4rem;
    box-shadow: 3px 3px 3px #282c34;
    .text {
      line-height: 6vh;
    }
  }
}






