@import url('https://use.typekit.net/eee7teq.css');

@import '../mixins/_media.scss';
@import '../functions/_ems.scss';

@import './_styleguide.scss';
@import './Navbar.scss';
@import './Landing.scss';
@import './Links.scss';
@import './ProjectList.scss';
@import './Banner.scss';
@import './Greeting.scss';
@import './slick-theme.scss';
@import './slick.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(white, $accent-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}