@import 'node_modules/react-modal-video/scss/modal-video.scss';

.container {
  height: $site-width-d;
  width: $site-width-d;
  display: grid;
  grid-template-columns: repeat(13, 8vw);
  grid-template-rows: repeat(13, 8vh);

  .greeting {
    grid-column: 1 / 14;
    grid-row: 2 / 5;
    text-align: center;
    @include media($vp-s-down) {
      grid-row: 2 / 4;
    };
  }

  .bike {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    img {
      border: 8px solid $bg-color;
      width: 100%;
    }
  }

  .carousel {
    z-index: 5;
    grid-column: 7 / 12;
    grid-row: 7 / 10;
    margin: auto 0;
    @include media($vp-s-down) {
      grid-row: 6 / 8;
    }
    .projectBlocks {
      border-radius: 25px;
      background-color: $third-color;
      box-shadow: 3px 3px 10px black;
      max-width: 150px;
      max-height: 150px;
      display: flex;
      flex-direction: column;
      margin: $spacing-s 3%;
      .title {
        text-align: center;
        font-weight: bold;
      }
      .title-small {
        text-align: center;
        font-weight: bold;
        font-size: .8em;
      }
      .projectImage {
        margin: 0 auto;
      }

    }
  }

  .carouselBar {
    margin-top:$spacing-m;
    color: white;
    font-style: italic;
    z-index: 1;
    height: 6vh;
    grid-column: 2 / 13;
    grid-row: 7 / 8;
    background: $primary-color;
    text-align: left;
    padding-left: 4rem;
    box-shadow: 3px 3px 3px #282c34;
    @include media($vp-s-down) {
      grid-row: 5 / 6;
      margin-top:$spacing-l;
    }
    @include media($vp-s-to-m) {
      margin-top: $spacing-s;
    }
    .text {
      line-height: 6vh;
    }
  }

  .boldProjects {
    grid-column: 3 / 5;
    grid-row: 9 / 11;
    font-size: em(50);
    color: $primary-color;
    font-style: italic;
    // margin-top: $spacing-xs;
    @include media($vp-s-down) {
      grid-row: 7 / 8;
      font-size: em(30);
      margin-top: $spacing-s;
    }
    @include media($vp-s-to-m) {
      font-size: em(40);
      margin-top: $spacing-xxs;
    }
  }

  .listLink {
    grid-column: 3 / 5;
    grid-row: 10 / 11;
    margin-top: $spacing-s;
    @include media($vp-s-down) {
       grid-column: 3 / 10;
      margin-top: $spacing-xs;
    }
    @include media($vp-s-to-m) {
       grid-column: 3 / 10;
       grid-row: 10 / 11;
      margin-top: $spacing-xs;
    }
  }
}
