.listWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .projectWrapper {
    display: flex;
    background-color: $third-color;
    border-radius: 25px;
    box-shadow: 3px 3px 10px black;
    margin: $spacing-xs;
    width: 47%;
    .projects {
      display: flex;
      flex-direction: column;
      margin: $spacing-xs;
      .titleWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .title {
          text-align: center;
          margin: $spacing-xs $spacing-s;
        }
      }
      .content {
        display: flex;
        .projectImage {
          margin: 0 auto;
        }
        .text {
          padding: $spacing-xxs;
          margin: $spacing-xs;
          background-color: white;
        }
      }
    }
    .links {
      justify-content: flex-start;
    }
  }
}
