@import 'node_modules/react-modal-video/scss/modal-video.scss';

.App {
  // background-image: url('../assets/alexLogo.png');
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(13, 8vw);
  grid-template-rows: repeat(13, 8vh);
  // grid-gap: .3vh;
  .App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: inline-block;
    // display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
    grid-column: 1 / 14;
    grid-row: 1 / 2;
    .logo {
      max-height: 10vh;
    }
  }
  .myName {
    grid-column: 1 / 14;
    grid-row: 3 / 5;
    text-align: center;
  }
  .carousel {
    z-index: 5;
    grid-column: 7 / 12;
    grid-row: 8 / 11;
    margin: auto 0;
    .productImage {
      margin: auto;
    }
    .imageBackground {
      border-radius: 25px;
      background-color: yellow;
      box-shadow: 3px 3px 3px #282c34;
      width: 170px;
      margin-left: 10px;
    }
  }
  .carouselBar {
    z-index: 1;
    height: 8vh;
    grid-column: 2 / 13;
    grid-row: 9 / 11;
    background: #61dafb;
    text-align: left;
    padding-left: 4rem;
    box-shadow: 3px 3px 3px #282c34;
    .text {
      line-height: 8vh;
    }
  }
  .footer {
    grid-column: 1 / 13;
    grid-row: 12/ 13;
  }
}

.ml1 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: .5em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

// line drawing anime
anime-demo {
  position: relative;
}

svg {
   padding: 10px;
}

button {
  background: orange;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Lato';
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  background: blue;
}

////header



